<div class="container">
  <div class="columns">
    <div class="column is-one-fifth">
      <input class="input is-small" type="text" placeholder="Normal input">
    </div>
    <div class="column is-one-fifth">
      <div class="select is-primary is-multiple is-small">
        <select id="ingredients">
        </select>
      </div>
    </div>
  </div>
</div>

<script>
console.log("sdafgedg")
</script>